/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
  background: rgba(39, 39, 39, 0.4);
}

/*nav*/

.nav{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(209, 205, 205, 0.6), transparent);
  z-index: 100;
  background-color: #d6cfcf;
  opacity: 55;
}
.nav-logo img {
  font-size: 25px;
  font-weight: 600;
  width: 250px;
  height: 85px;
  /*background-color: rgba(242, 233, 233);*/
  margin-top: 6px;
}
.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active{
  border-bottom: 2px solid #000000;
}
.nav-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: rgba(0, 0, 0, 0.3);
}
#registerBtn{
  margin-left: 15px;
}
.btn.white-btn{
  background: rgba(56, 53, 53, 0.7);
}
.btn.btn.white-btn:hover{
  background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
  display: none;
}
.form-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}
.login-container{
  position: absolute;
  left: 4px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.register-container{
  position: absolute;
  right: -520px;
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: .5s ease-in-out;
}
.top span{
  color: #fff;
  font-size: small;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.top span a{
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
}
header{
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}
.two-forms{
  display: flex;
  gap: 10px;
}
.input-field{
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: .2s ease;
}
.input-field:hover, .input-field:focus{
  background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
  color: #fff;
}
.input-box i{
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}
.submit{
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: .3s ease-in-out;
}
.submit:hover{
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}
.two-col .one{
  display: flex;
  gap: 5px;
}
.two label a{
  text-decoration: none;
  color: #fff;
}
.two label a:hover{
  text-decoration: underline;
}

header, nav, section, article, aside, footer, hgroup {
display: block;
}


/*the end nav style*/


/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}
/*** Spinner End ***/

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var#041114;
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 #f7fafb !important;
    color: #16ee07 !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 #041114;
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 #041114;;
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: #041114 !important;
}

/*** Section Title Start ***/
.section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-primary) !important;
}

.sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-primary) !important;
}

/*** Single Page Hero Header Start ***/
.bg-breadcrumb {
    background: linear-gradient(rgba(87, 85, 85, 0.3), rgba(110, 108, 108, 0.3)), url(../img/IMG_20230602_182229.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 60px 0;
}

.bg-breadcrumb .breadcrumb-item a {
    color: var(--bs-white) !important;
}
/*** Single Page Hero Header End ***/

/*** Contact Start ***/
.contact {
    background: linear-gradient(rgba(42, 40, 40, 0.7), rgba(26, 26, 26, 0.7)), url(../img/prefectura.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contact .contact-form .btn.btn-light {
    box-shadow: inset 0 0 0 0 #6b6a6d;
}

.contact .contact-form .btn.btn-light:hover {
    box-shadow: inset 600px 0 0 0 #001f8f !important;
    color: var(--bs-white) !important;
}

.contact .contact-form .form-floating input,
.contact .contact-form .form-floating textarea,
.contact .contact-form .form-floating label {
    color: #ffffff;
}



/* Testimonial Section Title Start */
.contact .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.contact .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}
/*** Contact End ***/




/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer{
  background-color: #676363;
}
.footerContainer{
  width: 100%;
  padding: 5px 5px 5px ;
}
.socialIcons{
  display: flex;
  justify-content: center;
}
.socialIcons a{
  text-decoration: none;
  padding:  5px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: black;
  opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
  background-color: #676363;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}

.footerBottom{
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.logo-footer{
  text-align: center;
}
.logo-footer img{
  width: 200px;
  height: 50px;
  margin-top: 5px;
}

@media (max-width: 700px){
  
  .socialIcons a{
      padding: 8px;
      margin: 4px;
  }
}

/* 
---------------------------------------------
The end Footer Style
--------------------------------------------- 
*/


@media only screen and (max-width: 786px){
  .nav-menu-btn{
      display: block;
  }
  .nav-menu.responsive {
      top: 100px;
  }
  .nav-menu {
      position: absolute;
      top: -800px;
      left: 0;
      display: flex;
      flex-direction: column; /* Cambiamos a columna para centrar los botones verticalmente */
      justify-content: center; /* Centramos verticalmente */
      align-items: center; /* Centramos horizontalmente */
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      height: 90vh;
      backdrop-filter: blur(20px);
      transition: .3s;
  }
  .nav-menu ul {
      flex-direction: column;
      text-align: center;
  }
  .nav-menu .nav-button {
      margin-top: 20px; /* Ajusta según necesidad */
  }
  .nav-menu-btn i{
      font-size: 25px;
      color: #fff;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
      cursor: pointer;
      transition: .3s;
  }
  .nav-menu-btn i:hover{
      background: rgba(255, 255, 255, 0.15);
  }
  .nav-menu .nav-button button {
      margin-top: 10px; /* Espacio entre botones */
  }
}
@media only screen and (max-width: 540px) {
  .wrapper{
      min-height: 100vh;
  }
  .form-box{
      width: 100%;
      height: 500px;
  }
  .register-container, .login-container{
      width: 100%;
      padding: 0 20px;
  }
  .register-container .two-forms{
      flex-direction: column;
      gap: 0;
  }
}