/* POPPINS FONT */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


  *{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url(../img/pxfuel.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(209, 205, 205, 0.6), transparent);
    z-index: 100;
    background-color: #d6cfcf;
    opacity: 55;
}
.nav-logo img {
    font-size: 25px;
    font-weight: 600;
    width: 250px;
    height: 85px;
    /*background-color: rgba(242, 233, 233);*/
    margin-top: 6px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #000000;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #000000;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover{
    background: rgba(0, 0, 0, 0.3);
}
#registerBtn{
    margin-left: 15px;
}
.btn.white-btn{
    background: rgba(56, 53, 53, 0.7);
}
.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}
.nav-menu-btn{
    display: none;
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 1000px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

/* 
---------------------------------------------
Footer Style
--------------------------------------------- 
*/

footer{
    background-color: #676363;
}
.footerContainer{
    width: 100%;
    padding: 5px 5px 5px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  5px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #676363;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

.logo-footer{
    text-align: center;
}
.logo-footer img{
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

@media (max-width: 700px){
    
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

/* 
---------------------------------------------
The end Footer Style
--------------------------------------------- 
*/


@media only screen and (max-width: 786px){
    .nav-menu-btn{
        display: block;
    }
    .nav-menu.responsive {
        top: 100px;
    }
    .nav-menu {
        position: absolute;
        top: -800px;
        left: 0;
        display: flex;
        flex-direction: column; /* Cambiamos a columna para centrar los botones verticalmente */
        justify-content: center; /* Centramos verticalmente */
        align-items: center; /* Centramos horizontalmente */
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul {
        flex-direction: column;
        text-align: center;
    }
    .nav-menu .nav-button {
        margin-top: 20px; /* Ajusta según necesidad */
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }
    .nav-menu .nav-button button {
        margin-top: 10px; /* Espacio entre botones */
    }
}


@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 950px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}

/* Ajustes en las transiciones */
.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

#additional-register {
    right: -1040px;
}

/* Estilos para el nuevo formulario de registro */
.input-box select {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

#direccion-constitucion, #direccion-fuera {
    display: none;
}



/* Estilo para las opciones de dirección */
.direccion_fei .input-box {
    margin-bottom: 20px;
}

/* Separación adicional para el botón de registro */
.input-box.submit-container {
    margin-top: 20px;
}



/* Ajuste de otros estilos según sea necesario */
.input-box select {
    margin-bottom: 20px;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    color: #000000;
    height: 50px;
    width: 100%;
    outline: none;
    transition: .2s ease;
}

#direccion-constitucion, #direccion-fuera {
    display: none;
}

.direccion_fei .input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    font-size: 15px;
    color: #fff;
}

/* Estilos generales del modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal .modal-content {
    position: relative;
    padding: 30px;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out;
}
.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}
.modal .modal-icon img {
    width: 60px;
    margin-bottom: 15px;
}
.modal #errorMessage {
    font-size: 16px;
    margin: 15px 0;
    color: #333;
}
.modal .close-button {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.modal .close-button:hover {
    background-color: #d32f2f;
}

@keyframes slideDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}



